@charset "UTF8";


/*-----------------------------------------------Tablet---------------------------------------------------------------------------------*/

@media (max-width: 1000px) {
    h1 {
        font-size: 20px;
        margin: 0px 0px;
    }

    p {
        font-size: 13px;
    }



    /* \/DIV\/ */

    #formulario {
        display: flex;
        width: 600px;
        height: 250px;
    }

    #formulario2 {
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .div-all {
        display: flex;
        width: 290px;
        margin-top: 4px;
    }

    #imagem {
        display: flex;
        border-radius: 15px 0px 0px 15px;
    }

    /* \/IMAGEM\/ */



    /* \/LABEL\/ */

    #login-lab {
        border-radius: 10px 0px 0px 10px;
    }

    #password-lab {}

    /* \/CAIXAS DE TEXTO LINK E IMPUT\/ */

    #login-id {

        height: 20px;
        font-size: 15px;

    }

    #password-id {

        height: 20px;
        font-size: 15px;
    }

    #entrar-id {
        width: 290px;
        height: 30px;
        font-size: 15px;
        padding: 5px;
    }

    #lost-pass-id {
        padding: 3px;
        width: 280px;

    }

}

/*-------------------------------------------------------------CELULAR------------------------------------------------------------------*/

@media (max-width: 600px) {

    h1 {
        font-size: 20px;
        margin: 16px 0px;
    }

    p {
        font-size: 13px;
    }


    /* \/DIV\/ */

    #formulario {
        display: flex;
        width: 320px;
        height: 80%;
        flex-direction: column;
    }

    #formulario2 {
        display: flex;
        flex-direction: column;
        order: 2;
        width: 93%;
    }

    .div-all {
        display: flex;
        width: 290px;
        margin-top: 4px;
    }

    #imagem {
        display: flex;
        border-radius: 15px 15px 0px 0px;
        height: 35%;
        width: 100%;
    }



    /* \/LABEL\/ */

    #login-lab {
        margin-top: 5px;
        border-radius: 10px 0px 0px 10px;
    }

    #password-lab {
        margin-top: 5px;
    }

    /* \/CAIXAS DE TEXTO LINK E IMPUT\/ */

    #login-id {

        height: 30px;
        font-size: 15px;

    }

    #password-id {

        height: 30px;
        font-size: 15px;
    }

    #entrar-id {
        width: 290px;
        height: 30px;
        font-size: 15px;
        padding: 5px;
    }

    #lost-pass-id {
        padding: 3px;
        width: 280px;

    }

}

/*--------------------------------------------------Grandes Resoluções------------------------------------------------------------------*/

@media (min-width: 1600px) {

    h1 {
        margin: 12px 0px;
        font-size: 59px;
    }

    p {
        font-size: 27px;
        padding: 21px;
    }



    #formulario {
        height: 600px;
        width: 1550px;
    }



    .div-all {

        margin-top: 20px;

    }





    /* \/LABEL\/ */

    #login-lab {
        font-size: 39px;
    }

    #password-lab {
        font-size: 39px;
    }

    /* \/CAIXAS DE TEXTO LINK E IMPUT\/ */

    #login-id {
        font-size: 44px;
        height: 60px;
        width: 698px;
    }

    #password-id {
        font-size: 44px;
        height: 60px;
        width: 698px;
    }

    #entrar-id {
        margin-top: 20px;
        font-size: 44px;
        height: 67px;
        width: 767px;
    }

    #lost-pass-id {
        font-size: 44px;
        height: 67px;
        width: 748px;
    }

}