@charset "UTF8";

body,
html {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-image: linear-gradient(#680000, #ff9100, #ffd900, #ff0000);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    width: 100vw;
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin: 15px 0px;
}

a{
    margin-top: 4px;
    text-decoration: none;
}

p{
    font-size: 14px;
}

#login {
    display: flex;
    overflow: hidden;
    background-color: #ffffff5e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 4px black;
    height: 300px;
    width: 820px;
}


#imagem {
    background-image: url(../imagens/back-red.jpg);
    background-size: 100% 100%;
    display: flex;
    display: inline;
    width: 100%;

}

#imagem2 {
    height: 100%;
    width: 100%;
    border-radius: 0px 15px 15px 0px;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 1142px;
    padding: 10px;

}

#formulario2{
    display: flex;
    flex-direction: column;
}

.form-all{
   
    margin-top: 9px;
    height: 30px;
    border-radius: 8px;
}

.form-all2{
    
    margin-top: 9px;
    height: 30px;
    border-radius: 8px;
}

#lost-pass-id{
    
    margin-top: 3px;
    border-radius: 7px;
    padding: 4px;
    text-align: center;
    font-size: 17px;
    background-color: #ffffff;
    color: #b30000;
}

#entrar-id{
    height: 40px;
    background-color: #630000;
    color: white;

}

#login-id{
    border: 2px solid #630000;
    margin-top: 1.4px;
    height: 28px;
    border-radius: 0px 8px 8px 0px;
    width:92.7%;
    text-align: center;
    font-size: 17px;
} 

.form-all2::before{
    content: "\263A";
    background-color: #630000;
    padding: 6px 7px 8px 7px;
    
}

#password-id{
    border: 2px solid #630000;
    height: 28px;
    border-radius: 0px 8px 8px 0px;
    width: 92.7%;
    text-align: center;
    font-size: 17px;
    
}

#password-div::before {
    content: "\1F511";
    color: white;
    background-color: #630000;
    padding: 0.4em 0.4em 0.5em 0.1em;
}






/*
#email-div{
    padding: 2px;
    height: 35px;
    border-radius: 8px;
    border-radius: 10px;
    background-color: #5a0000;
}

#email-div::before{
    content: "\263A";
    color: #ffbc02;
    font-size: 24px;
    padding: 5px;
}

#password-div::before {
    content: "\1F511";
    color: white;
    font-size: 20px;
    padding: 5px;}  */
 