@charset "UTF8";

body,
html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-image: linear-gradient(#680000, #ff9100, #ffd900, #ff0000);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}



#formulario{
    
    background-color: rgba(255, 255, 255, 0.514);
    display: flex;
    width: 80vw;
}

#formulario2{
    
    padding: 10px;
}

#imagem > img{
    width: 300px;
}